:root{
 --primario: hsl(257, 40%, 49%);
 --primarioClaro: hsl(300, 69%, 71%);

 --fuente-principal:'Poppins', sans-serif;
 --fuentesecundaria:'Open Sans', sans-serif;

}

html{
    font-size: 62.5%;
    box-sizing: border-box;/*Hack para Box Model*/
}

*, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-size: 16px;
    background-color: var(--primario);
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    font-weight: normal;
}
@media (min-width: 769px) {
   body{
    background-image: url(../images/bg-desktop.svg);
    background-repeat: no-repeat;
   };
}

h1,h2,h3{
    font-family: var(--fuente-principal);
    color: #fff;
    text-align: center;
    font-weight: bold;
}
h1{
    font-size: 2.5rem;
    line-height: 1.5;
}
@media (min-width: 769px) {
   h1{
    font-size: 3.8rem;
    margin: 2rem 0 2rem 0;  
    line-height: 1.5;
    text-align: left;
   }
}
img{
    max-width: 100%;
}

.header{
    padding: 3rem;
}
.header__imagen{
   max-width: 40%;
}
@media (min-width: 769px) {
    .header__imagen{
        margin-left: 3rem;
        max-width: 16%;
        margin-top: 2rem;
    }
   
}
.contenedor{
    max-width: 144rem;
    margin: 0 auto;
}
.bloque{
     padding: 2rem 3rem;
}

@media (min-width: 769px) {
    .bloque{
        display: grid;
        grid-template-columns: 60% 40%;
        column-gap: 1rem;
        padding: 5.5rem 6rem;
    }
}
.bloque__imagen{
    padding:  1rem;
}
.contenido{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
@media (min-width: 769px) {
   .contenido{
    margin-top: 0;
    padding-top: 3rem;
    padding-right: 3rem;
    align-items: flex-start;   
   }
}

.contenido__informacion{
    text-align:center;
    color: #fff;
    font-family: var(--fuente-principal);
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.6;
    margin: 0 0.5rem 3rem 0;
}
@media (min-width: 769px) {
   .contenido__informacion{
    text-align: left;
    font-size: 1.6rem;
    margin: 0;
   }
}
 .boton{
    background-color: #fff;
    color: var(--primario);
    padding: 1.3rem;
    font-family: var(--fuente-principal);  
    font-size: 1.4rem;
    text-decoration: none;
    border-radius: 2.5rem;
    text-align: center;
    width: 70%;
}
@media (min-width: 769px) {
    .boton{
        align-self: flex-start;
        width: 30%;
        margin-top: 1rem;
        text-align: center;
    }
}
.boton:hover{
    background-color: var(--primarioClaro);
    color: #fff;
}
.social-icon{
    padding-top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
 }
@media (min-width: 769px) {
    .social-icon{
      align-self:flex-end;
      margin-top: 12rem;   
    }
}

.iconos{
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.3rem;
    border: 1px solid #fff;
    border-radius: 50%;
}
.iconos:last-of-type{
    margin-right: 0;
}
.iconos:hover{
    border: 1px solid var(--primarioClaro);
}
.icon {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    stroke-width: 2;
    stroke: rgba(255, 255, 255, 0);
    fill: rgb(255, 255, 255);
  }

.icon-insta {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    stroke-width: 2;
    stroke: rgb(255, 255, 255);
    fill: rgba(155, 25, 25, 0);
  }
@media (min-width: 769px) {
    .icon,
    .icon-insta{
     width: 2.5rem;
     height:2.5rem;
    }
}
.icon:hover{
    fill: var(--primarioClaro);
}
.icon-insta:hover{
    stroke: var(--primarioClaro);
}

.footer{
    color:#fff;
    text-align: center;   
}
